#navbar{
    display: flex;
    justify-content: space-between;
}
#movies{
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#movies>div{
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 4px;
}
#search{
    display: block;
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
}